*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}
body {
    font-size: 1.6rem;
}
.container {
    display: flex;
    border: 0.3rem solid black  
}
.box {
    width: 10rem;
    height: 10rem;
}
.box1 {
    background-color: aqua;
}
.box2 {
    background-color:yellow;
}
.box3 {
    background-color: red;
}
.box4 {
    background-color:blue;
}
.box5 {
    background-color:green;
}
